/************      Header Styles       **********/

header {
    background-color: white;
}

.logo {
    margin: 40px auto;
    border-bottom: solid black 3px;
}

.nav {
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    /* max-width: 80%; */
    margin: 0 auto;
    padding: 0 10%;
    /* padding: 5px; */
    /* text-decoration: underline; */
}

a {
    color: black !important;
}

.nav-link.active {
    text-decoration: underline;
    background-color: white !important;
}

.catalogue-btn {
    background-color: indigo;
    color: gold;
    margin: 10px;
}

/*  */

.container {
    max-width: 80%;
    border-left: solid gold 10px;
    border-right: inset gold 10px;
    background-color: white;
    height: 100vh;
}

body {
    background-color: indigo;
}



/* About Us */

.basicText {
    font-size: 1rem;
    font-weight: normal;
}